/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/* =================================================================
   Base styles: opinionated defaults
   ============================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
}

.img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #10b1a1;
  cursor: pointer;
}



.content-wrapper-header {
  padding: 25px 20px 20px;
} 

.content-wrapper-main {
  
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
    padding: 40px 20px;
}

header { 
  background: white;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* logo design */
.nav-branding-container {
  width: 40%;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px; 
}

.nav-logo {
  width: 35px;
  height: 35px;
  filter: invert(48%) sepia(91%) saturate(446%) hue-rotate(125deg) brightness(98%) contrast(87%);  
}

.nav-branding {
  font-family: 'Shrikhand', cursive;
  color: #10b1a1;
  font-size: 1.25rem;
  letter-spacing: .05rem;
  cursor: pointer;  
  text-decoration: none;
  line-height: 1rem;
}

/* Style navigation menu and links */
.nav-menu {   
  position: fixed;
  /* left value hides the nav-menu items until activated */
  right: -100%;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  padding: 50px 25px;
  background-color:#c8f9f0;
  width: 100%;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05rem; 
  transition: 0.3s;
}

/* reveals the nav-menu items with JavaScript */
.nav-menu.active {
  right: 0;
}

/* transition effect*/
.nav-link {
  transition: 0.7s ease;
}

ul {
  list-style-type: none;
}


.hamburger {
  display: block;
  cursor: pointer;
}

/* removes the middle line of the hamburger with JavaScript */
.hamburger.active .bar:nth-child(2){
  opacity: 0;
}

/* rotates first line of hamburger with JavaScript */
.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

/* rotates third line of hamburger the opposite direction with JavaScript */
.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #10b1a1;
}

/* hero section styles */
.directions-btn {
  background: #f77c30;
  color: white;
  width: 100%;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
}

/* .tagline {
  position: absolute;
  top: 155px;
  left: 30px;
  line-height: 2.5rem;
  font-size: 2.25rem;
  color: white;
  width: 40%;
  text-transform: uppercase;
}

.tagline.active {
  display: none;
} */

.header-img {
  width: 100%; 
  height: 500px;
  object-fit: cover;
}


.title {
  width: 90%;
  font-size: 1.5rem;
  text-align: center;
  color:#10b1a1;
}

p {
  text-align: center;
  line-height: 1.5rem;
  color:#10b1a1;
}

.hero-section {
  background: #c8f9f0;
  padding: 30px 0;
}

.hero-btn {
  border: 1px solid #10b1a1;;
  border-radius: 7px;
  margin-top: 20px;
  padding: 15px 25px;
  font-weight: 700;
  color:#10b1a1;
  background: white;
  cursor: pointer;
}

.services-section {
  padding: 30px 0;
}

.services-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.single-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.services-icons {
  width: 80px;
  filter: invert(65%) sepia(35%) saturate(6326%) hue-rotate(135deg) brightness(92%) contrast(87%);
}

.services-text {
  font-weight: 700;
  font-size: 1.5rem;
  color: #10b1a1;
  text-transform: uppercase;
}

.body-img {
  width: 100%;
  padding-bottom: 30px;
}

#open-status {
  font-weight: 700;
}

#open-status span {
  color: #f77c30;
}

.hours {
  display: flex;
  justify-content: space-between;
  width: 290px;
}

.hours_column1 p {
  text-align: left; 
}

.hours_column2 p {
  text-align: right; 
}

.contact-info {
  color: #10b1a1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 0 10px;
}

address {
  font-size: 1.25rem;
  color: #10b1a1;
  font-style: normal;
  font-weight: 700;
}

.contact-btn {
  border: 1px solid #10b1a1;;
  border-radius: 7px;
  margin-top: 20px;
  padding: 15px 25px;
  font-weight: 700;
  color: white;
  background: #10b1a1;
  cursor: pointer;
}

.contact-btn a {
  color: white;
}

footer{
  padding: 20px 0 60px;
  background: #c8f9f0;
}

.social-container {
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
}

.social-container i {
  color: #10b1a1;
  font-size: 2rem;
}
/* contact page - mobile */

.contact-tagline {
  color: white;
}

iframe {
  width: 100%;
}

form {
  display: grid;
  width: 100%;
  gap: 5px;
  padding: 20px 10px;
}

input, textarea {
  border: 2px #10b1a1 solid; 
  border-radius: 7px;
  padding: 15px;
  margin-bottom: 15px;
}

input::placeholder, textarea::placeholder {
  opacity: 0.5;
}

textarea {
  resize: none;
  padding-bottom: 50px;
}

#submit-btn {
  padding: 15px;
  border: 2px #10b1a1 solid; 
  border-radius: 7px;
  background: #10b1a1;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}


/* about page */

.hero-area {
  background: url('../img/storefront.jpeg') center no-repeat #c8f9f0;;
  background-size: cover;
  min-height: 500px;
}

.hero-area h1 {
  font-size: 2.75rem;
  font-weight: 700; 
  text-transform: uppercase;
  color: white;
  padding: 30px;
}

/* .background-img {
  background: url('../img/lizard-skin.png') center no-repeat #c8f9f0;
  background-size: cover;
} */


.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.about-text p {
  text-align: left;
  max-width: 500px;
}

.about-img {
  width: 100%;
  margin: 35px 0 20px;
  border:#10b1a1 10px solid;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design
   ========================================================================== */

   @media only screen and (min-width: 700px) {
    /******** Tablet styles Here ********/ 
  
    .header-img {
      height: 500px;
      object-fit: cover;
    }

    .title {
      font-size: 1.75rem;
      padding: 15px;
    }
  
    .description {
      line-height: 1.75rem;
      width: 70%;
    }
    /* this is causing overflow issues
    .tagline {
       top: 175px;
      line-height: 4rem;
      font-size: 3rem;
      width: 100%;
      
    } */
  
    p {
      font-size: 1.125rem;
    }

    .description {
      width: 80%;
      max-width: 650px;

    }

    .hero-btn, .contact-btn {
      padding: 20px 80px;
    }

    .hero-btn {
      margin: 40px 0 25px;
    }
  
    .services-container {
      padding-top: 50px;
      width: 80%;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end;
      gap: 20px;
    }
  
    .single-service {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 48%;
      padding-bottom: 50px;
    }
  
    .single-service:nth-child(5), .single-service:nth-child(6) {
      padding-bottom: 0px;
    }
  
    .services-icons {
      width: 75px;
    }
  
    .services-text {  
      font-size: 1.125rem;
    } 
  
    .body-img {
      height: 500px;
      object-fit: cover;
    }

    #open-status {
      font-size: 1.25rem;
    }

    .hours {
      width: 370px;
      margin-top: 20px; 
    }

    .hours_column1 p, .hours_column2 p {
      line-height: 1.75rem;
    }

    address {
      font-size: 1.5rem;
    }

   /* about page - tablet */

   .hero-area h1 {
    font-size: 3rem;
    padding: 30px 50px;
   }

   .about-img {
    width: 450px;
    height: 450px;
    margin: 15px 0 20px; 
    object-fit: cover; 
  }

  .flex{
    padding: 0 20px;
  }

   .about-text {
    padding: 20px 0 30px;
   }

   .about-text p {
    line-height: 2rem;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    /******** Desktop styles Here ********/ 

    .hamburger {
      display: none;  
    }

    .nav-menu {   
      position: fixed;
      /* left value hides the nav-menu items until activated */
      right: -100%;
      top: 70px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      gap: 20px;
      padding: 50px 25px;
      background-color:#c8f9f0;
      width: 100%;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .05rem; 
      transition: 0.3s;
    }

    .nav-menu {
      gap: 40px;
      position: relative;
      right: 0;
      top: 0;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;  
      background-color: white;
      transition: 0s;
      padding: 15px 25px;
    }  
  
    .header-img {
      height: 575px; 
    }

    p {
      font-size: 1rem;
    }
  
    .services-container {
      padding-top: 70px;
      width: 75%;
    }
  
    .single-service {
      width: 30%;
      padding-bottom: 50px;
    }
  
    .single-service:nth-child(5), .single-service:nth-child(6) {
      padding-bottom: 50px;
    }
  
    .body-img-container {
      width: 48%;
    }


    .body-img { 
      height: 720px;
      object-fit: cover; 
      object-position: right;
      padding: 0;
    }
  
    .info-section {
      display: flex;
      justify-content: space-between;
    }
  
    .info-desktop {
      background-color: rgb(250, 239, 239);
      flex-grow: 1;
      padding-top: 60px;
      /* border: 3px solid black; */
    }

    #open-status {
      font-size: 1.125rem;
    }


    .hours_column1 p, .hours_column2 p {
      line-height: 1.75rem;
    }

    address {
      font-size: 1.25rem;
    }

    /* about page - desktop */

    .flex {
      flex-direction: row-reverse;
      align-items: flex-start;
      gap: 40px;
      padding: 30px 50px;
    }

    .about-img {
      width: 400px;
      height: 400px;
      margin: 15px 0 20px; 
      object-fit: cover; 
    }

    .about-text {
      padding: 5px 0 30px;
     }
      
    
  
  }
  
  


  

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

